/* Estilos gerais para HTML e BODY */
html,
body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  height: auto; /* Faz com que o html e body ocupem toda a altura da tela */
  margin: auto;
  padding: auto;
  transition: background-color 0.5s ease, color 0.5s ease;
  overflow-y: auto; /* Mantém a barra de rolagem vertical */
}

/* Estilos para o modo claro */
body.light-mode {
  background-color: #f0f0f0;
  color: #333;
}

/* Estilos para o modo escuro */
body.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

/* Estilos para o cabeçalho H1 */
h1 {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Estilos para o temporizador */
#timer {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.message {
  font-size: 5rem;
  font-weight: bold;
  color: red;
  margin: 20px 0;
  animation: fadeIn 1s ease-in-out;
  display: none; /* Começa oculto */
}

.dark-mode .message {
  color: red; /* Ajusta a cor do texto para modo escuro, se necessário */
}

/* Estilos para os canvas das imagens */
.canvas {
  display: inline-block;
  position: relative;
  cursor: url(cursor.png), auto;
  overflow: hidden;
  margin: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para as imagens */
.imagem-esquerda,
.imagem-direita {
  width: 100%; /* Largura total do contêiner pai */
  height: auto; /* Altura automática para manter a proporção */
  max-width: 650px; /* Tamanho máximo para largura */
  max-height: 650px; /* Tamanho máximo para altura */
  object-fit: contain; /* Ajusta a imagem dentro do contêiner sem cortar */
}

/* Estilos específicos para o modo claro nos canvas */
body.light-mode .canvas {
  border-color: #ccc;
}

/* Estilos específicos para o modo escuro nos canvas */
body.dark-mode .canvas {
  border-color: #555;
}

/* Estilos para os marcadores de diferenças */
.marker {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 0, 0, 0.7); 
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transform: scale(0);
  animation: bounceIn 0.5s forwards;
}

/* Estilos para os marcadores aceitos */
.marker.accept {
  background: lightgreen;
}

/* Estilos para os marcadores rejeitados */
.marker.reject {
  background: red;
}

/* Estilos para os alvos de diferenças */
.target {
  width: 50px;
  height: 50px;
  background: green;
  position: absolute;
  border-radius: 50%;
}

/* Estilos para o cursor personalizado */
.cursor {
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 25px;
  opacity: 0;
  background: url(cursor.png) center top no-repeat;
  transition: opacity 0.2s linear;
  z-index: 2;
}

/* Estilos para tornar o cursor visível */
.cursor.visible {
  opacity: 1;
}

/* Estilos para a mensagem de feedback do jogo */
.message {
  font-size: 20px;
  margin: 20px 0;
  animation: fadeIn 1s ease-in-out;
}

/* Estilos para a seção de instruções */
.instructions {
  display: none; /* Inicialmente oculto */
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 10px auto;
  padding: 30px 30px;
  text-align: left;
  margin-bottom: 100px; /* Adiciona margem na parte inferior */
}

/* Estilos para o título das instruções */
.instructions h2 {
  font-size: 24px;
  color: #333;
}

/* Estilos para os parágrafos e listas nas instruções */
.instructions p,
.instructions ul,
.instructions li {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

/* Estilos para botões de ação */
button,
input[type='button'] {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Estilos para botões de ação em hover */
button:hover,
input[type='button']:hover {
  background-color: #005f6b;
}

/* Estilos para o rodapé */
footer {
  background-color: #333;
  color: #f0f0f0;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos específicos para o modo escuro no temporizador */
.dark-mode #timer {
  color: #f0f0f0;
}

/* Estilos específicos para o modo escuro no cabeçalho H1 */
.dark-mode h1 {
  color: #f0f0f0;
}

/* Estilos específicos para o modo escuro no rodapé */
.dark-mode footer {
  background-color: #f0f0f0;
  color: #333;
}

/* Estilos específicos para o modo escuro nas instruções */
.dark-mode .instructions h2,
.dark-mode .instructions p,
.dark-mode .instructions ul,
.dark-mode .instructions li {
  background-color: #f0f0f0;
  color: #333;
}

/* Animação de fade-in para a mensagem de feedback */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animação de bounce-in para os marcadores */
@keyframes bounceIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .imagem-esquerda,
  .imagem-direita {
    max-width: 100%;
    max-height: 300px;
  }
}

/* Ajustes para resolução de projetores, normalmente superiores a 1024px */
@media (min-width: 1024px) {
  .imagem-esquerda,
  .imagem-direita {
    max-width: 100%;
    max-height: 80vh; /* 80% da altura da viewport */
  }

  #canvas-main {
    max-width: 90vw; /* 90% da largura da viewport */
    max-height: 80vh; /* 80% da altura da viewport */
  }

  .message {
    font-size: 2em; /* Aumentar o tamanho da fonte para melhor visibilidade */
  }

  #timer {
    font-size: 1.5em; /* Aumentar o tamanho do temporizador */
  }

  .instructions {
    font-size: 1.2em; /* Aumentar o tamanho da fonte nas instruções */
  }

  .btn {
    font-size: 1.2em; /* Aumentar o tamanho da fonte dos botões */
  }
}


/* .marker {
  width: 30px; 
  height: 30px; 
  background-color: rgba(255, 0, 0, 0.7); 
  position: absolute;
  border-radius: 50%; 
  pointer-events: none; 
  transform: translate(
    -50%,
    -50%
  );
} */
